html {
    font-size: 90%;
    line-height: 1.5rem;
    box-sizing: border-box;
    font-family: 'Metrophobic', sans-serif;
    height: 100%;
    scroll-behavior: smooth;
}
@media (prefers-reduce-motion) {
    html {
        scroll-behavior: initial;
    }
}

body {
    margin: 0 auto;
    padding: 0;
    min-height: 100%;
    max-width: 100%;
    padding-bottom: 8rem;
    background-color: #202124;
}
*, 
*::before, 
*::after {
    box-sizing: inherit;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
    background-color: white;
    transition: all .50s ease;
}

.logo {
    display: flex;
    align-items: center start;
}
.logo img{
    height: 210px;
    width: 17rem;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 0px;
    background: white;
}
.navbar li{
    list-style: none;
    padding: 0 5px;
}

.navbar li a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 510;
    padding: 5px 0;
    margin: 10px 30px;
    transition: all .50s ease;
}
.navbar a:hover{
    color: rgba(0, 170, 255, 0.895);
}

/*begin now */
.now {
    position: absolute;
    top: 48%;
    transform: translate(0, -50%);
    padding-left: 5rem;
    color: white;
    font-family:'Contrail One', sans-serif;
}

.now h1{
    font-size: 20px;
    font-family: 'Contrail One', sans-serif;
    color: rgba(0, 170, 255, 0.895);
}

.now p{
    font-size: 25px;
    font-family: 'Contrail One', sans-serif;
}

.now a{
    color: rgba(0, 170, 255, 0.895);
}

 
/*end now */



/*begin footer */
#footer .nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
    padding: 40rem 50px 50px;
}
#footer .nav-item a{
    font-family: 'Contrail One', sans-serif;
    color: white;
    font-size: 25px;
    text-decoration: none;
    transition: all .50s ease;
}
#footer .nav-item a:hover{
    color: rgba(0, 170, 255, 0.895);
}
/*end footer */
