html {
    font-size: 90%;
    line-height: 1.5rem;
    box-sizing: border-box;
    font-family: 'Metrophobic', sans-serif;
    height: 100%;
    scroll-behavior: smooth;
}
@media (prefers-reduce-motion) {
    html {
        scroll-behavior: initial;
    }
}

body {
    margin: 0 auto;
    padding: 0;
    min-height: 100%;
    max-width: 100%;
    padding-bottom: 8rem;
    background-color: #202124;
}
*, 
*::before, 
*::after {
    box-sizing: inherit;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
    background-color: white;
    transition: all .50s ease;
}

.logo {
    display: flex;
    align-items: center start;
}
.logo img{
    height: 210px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 0px;
    background: white;
}
.navbar li{
    list-style: none;
    padding: 0 5px;
}

.navbar li a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 510;
    padding: 5px 0;
    margin: 10px 30px;
    transition: all .50s ease;
}
.navbar a:hover{
    color: rgba(0, 170, 255, 0.895);
}


/* intro with care */
.intro {
    position: absolute;
    top: 40%;
    transform: translate(0, -50%);
    padding: 10px;
    color: white;
    font-family:'Contrail One', sans-serif;
}

.intro h2{
    font-size: 20px;
    font-family: 'Contrail One', sans-serif;
    color: rgba(0, 170, 255, 0.895);
}

.intro p{
    font-size: 25px;
    font-family: 'Contrail One', sans-serif;
}

 
.section-p1 {
    font-size: large;
}

/*begin example */

#example1 {
    width: 100%;
    height: auto;
    padding: 10px;
    padding-top: 14rem;
    text-align: center;
    color: white;
}

#example1 .exam-container{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    flex-wrap: nowrap;
}

#example1 .exam {
    width: 90%;
    height: 400px;
    padding: 1% 1%;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 15px 10px #202124;
    margin: 15px 0;
    transition: 0.2s ease;
    overflow: hidden;
    position: relative;
}
#example1 .exam:hover{
    box-shadow: 10px 15px 10px white;

}

#example1 .exam img {
    width: 65%;
    height: 65%;
    object-fit: fill;
    border-radius: 10px;
}

#example1 .exam span{
    font-size: 22px;
    font-family: 'Contrail One', sans-serif;
}

#example1 .exam h5{
    font-family: 'Contrail One', sans-serif;
    font-size: 12px;
}
/*end example */


/*begin footer */
#footer .nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
    padding: 40px 5px 5px;
}
#footer .nav-item a{
    font-family: 'Contrail One', sans-serif;
    color: white;
    text-decoration: none;
    transition: all .50s ease;
}
#footer .nav-item a:hover{
    color: rgba(0, 170, 255, 0.895);
}
/*end footer */
